.payment{
    background-color: #B5FF95;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.payment_linkTitle{
    text-decoration: none;
    color: black;
}

.payment_container > h1{
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: #B5B0FF;
    border-bottom: 1px solid dimgray;
}

.payment_section{
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid dimgrey;
}

/* each payment section has flex display, the elemnts in each section can have definite parts/percentages of the flex
display to itself. example: in 1st section, title and address are 2 elements. we give them 20% and 80% of the total flex resp.*/

.payment_title{
    flex: 0.2;
}

.payment_address, .payment_items, .payment_details{
    flex: 0.8;
}

